/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";
@import "../node_modules/ionic4-auto-complete/auto-complete";


.searchbar-input {
    border-radius: 15px !important;
    color: #000 !important;
  }

.ion-color-found{
  /** found **/
    --ion-color-base: #ffdf9a;
    --ion-color-base-rgb: 255, 223, 154;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #ffd67d;
    --ion-color-tint: #ffdf9a;
}
.ion-color-facebook{
      /** facebook **/
      --ion-color-base: #3b5998;
      --ion-color-base-rgb: 59, 89, 152;
      --ion-color-contrast: #ffffff;
      --ion-color-contrast-rgb: 255, 255, 255;
      --ion-color-shade: #3b5998;
      --ion-color-tint: #3b5998;
}
.ion-color-google{
  /** google **/
--ion-color-base: #cc181e;
--ion-color-base-rgb: 204, 24, 30;
--ion-color-contrast: #ffffff;
--ion-color-contrast-rgb: 255, 255, 255;
--ion-color-shade: #cc181e;
--ion-color-tint: #cc181e;
}